-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."EventType" AS ENUM ('BIRTHDAY', 'ANNIVERSARY', 'DISCORD', 'IN_PERSON', 'OTHER');

-- CreateEnum
CREATE TYPE "public"."UserRole" AS ENUM ('ADMIN', 'USER');

-- CreateEnum
CREATE TYPE "public"."YearTopPickType" AS ENUM ('TOP_10', 'BEST_SEEN', 'WORST_3');

-- CreateTable
CREATE TABLE "public"."BoardPost" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "BoardPost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DailyRecommendation" (
    "id" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "type" TEXT NOT NULL,
    "movieId" INTEGER,
    "listId" INTEGER,
    "participantId" INTEGER,
    "curatorName" TEXT,
    "curatorImage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DailyRecommendation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."List" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "letterboxdUrl" TEXT NOT NULL,
    "imgUrl" TEXT NOT NULL,
    "createdBy" TEXT NOT NULL,
    "tags" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "List_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MamParticipant" (
    "id" SERIAL NOT NULL,
    "displayName" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MamParticipant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MamPick" (
    "id" SERIAL NOT NULL,
    "participantId" INTEGER NOT NULL,
    "movieId" INTEGER NOT NULL,
    "score" INTEGER NOT NULL,
    "review" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isSpecialMention" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "MamPick_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Movie" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "originalTitle" TEXT NOT NULL,
    "originalLanguage" TEXT NOT NULL,
    "releaseDate" TIMESTAMP(3) NOT NULL,
    "letterboxdUrl" TEXT NOT NULL,
    "imdbId" TEXT NOT NULL,
    "posterUrl" TEXT NOT NULL,
    "mamAverageScore" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "mamTotalPicks" INTEGER NOT NULL DEFAULT 0,
    "mamTotalPoints" INTEGER NOT NULL DEFAULT 0,
    "mamRank" INTEGER,

    CONSTRAINT "Movie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MovieList" (
    "id" SERIAL NOT NULL,
    "movieId" INTEGER NOT NULL,
    "listId" INTEGER NOT NULL,

    CONSTRAINT "MovieList_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."YearTopMovieStats" (
    "id" SERIAL NOT NULL,
    "movieId" INTEGER NOT NULL,
    "year" INTEGER NOT NULL,
    "pickType" "public"."YearTopPickType" NOT NULL,
    "totalPoints" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "YearTopMovieStats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."YearTopParticipant" (
    "id" SERIAL NOT NULL,
    "displayName" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "userId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "YearTopParticipant_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."YearTopPick" (
    "id" SERIAL NOT NULL,
    "participantId" INTEGER NOT NULL,
    "movieId" INTEGER NOT NULL,
    "year" INTEGER NOT NULL,
    "pickType" "public"."YearTopPickType" NOT NULL,
    "isTopPosition" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "YearTopPick_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."account" (
    "id" TEXT NOT NULL,
    "accountId" TEXT NOT NULL,
    "providerId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "accessToken" TEXT,
    "refreshToken" TEXT,
    "idToken" TEXT,
    "accessTokenExpiresAt" TIMESTAMP(3),
    "refreshTokenExpiresAt" TIMESTAMP(3),
    "scope" TEXT,
    "password" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."event" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "year" INTEGER,
    "type" "public"."EventType" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT NOT NULL,
    "day" INTEGER NOT NULL,
    "month" INTEGER NOT NULL,
    "time" TIMESTAMP(3),

    CONSTRAINT "event_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."session" (
    "id" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "token" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "userId" TEXT NOT NULL,
    "impersonatedBy" TEXT,

    CONSTRAINT "session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."user" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "emailVerified" BOOLEAN NOT NULL,
    "image" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "banExpires" TIMESTAMP(3),
    "banReason" TEXT,
    "banned" BOOLEAN,
    "role" TEXT,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."verification" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3),

    CONSTRAINT "verification_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "BoardPost_order_idx" ON "public"."BoardPost"("order" ASC);

-- CreateIndex
CREATE INDEX "DailyRecommendation_date_idx" ON "public"."DailyRecommendation"("date" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DailyRecommendation_date_key" ON "public"."DailyRecommendation"("date" ASC);

-- CreateIndex
CREATE INDEX "MamParticipant_displayName_idx" ON "public"."MamParticipant"("displayName" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MamParticipant_slug_key" ON "public"."MamParticipant"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MamParticipant_userId_key" ON "public"."MamParticipant"("userId" ASC);

-- CreateIndex
CREATE INDEX "MamPick_isSpecialMention_idx" ON "public"."MamPick"("isSpecialMention" ASC);

-- CreateIndex
CREATE INDEX "MamPick_movieId_idx" ON "public"."MamPick"("movieId" ASC);

-- CreateIndex
CREATE INDEX "MamPick_participantId_idx" ON "public"."MamPick"("participantId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MamPick_participantId_movieId_key" ON "public"."MamPick"("participantId" ASC, "movieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Movie_imdbId_key" ON "public"."Movie"("imdbId" ASC);

-- CreateIndex
CREATE INDEX "Movie_mamRank_idx" ON "public"."Movie"("mamRank" ASC);

-- CreateIndex
CREATE INDEX "Movie_mamTotalPoints_mamTotalPicks_idx" ON "public"."Movie"("mamTotalPoints" DESC, "mamTotalPicks" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "MovieList_movieId_listId_key" ON "public"."MovieList"("movieId" ASC, "listId" ASC);

-- CreateIndex
CREATE INDEX "YearTopMovieStats_movieId_idx" ON "public"."YearTopMovieStats"("movieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "YearTopMovieStats_movieId_year_pickType_key" ON "public"."YearTopMovieStats"("movieId" ASC, "year" ASC, "pickType" ASC);

-- CreateIndex
CREATE INDEX "YearTopMovieStats_year_pickType_totalPoints_idx" ON "public"."YearTopMovieStats"("year" ASC, "pickType" ASC, "totalPoints" ASC);

-- CreateIndex
CREATE INDEX "YearTopParticipant_displayName_idx" ON "public"."YearTopParticipant"("displayName" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "YearTopParticipant_slug_key" ON "public"."YearTopParticipant"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "YearTopParticipant_userId_key" ON "public"."YearTopParticipant"("userId" ASC);

-- CreateIndex
CREATE INDEX "YearTopPick_movieId_idx" ON "public"."YearTopPick"("movieId" ASC);

-- CreateIndex
CREATE INDEX "YearTopPick_participantId_idx" ON "public"."YearTopPick"("participantId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "YearTopPick_participantId_movieId_year_pickType_key" ON "public"."YearTopPick"("participantId" ASC, "movieId" ASC, "year" ASC, "pickType" ASC);

-- CreateIndex
CREATE INDEX "YearTopPick_year_pickType_idx" ON "public"."YearTopPick"("year" ASC, "pickType" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "session_token_key" ON "public"."session"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "user_email_key" ON "public"."user"("email" ASC);

-- AddForeignKey
ALTER TABLE "public"."BoardPost" ADD CONSTRAINT "BoardPost_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "public"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DailyRecommendation" ADD CONSTRAINT "DailyRecommendation_listId_fkey" FOREIGN KEY ("listId") REFERENCES "public"."List"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DailyRecommendation" ADD CONSTRAINT "DailyRecommendation_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DailyRecommendation" ADD CONSTRAINT "DailyRecommendation_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES "public"."MamParticipant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MamParticipant" ADD CONSTRAINT "MamParticipant_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MamPick" ADD CONSTRAINT "MamPick_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MamPick" ADD CONSTRAINT "MamPick_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES "public"."MamParticipant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MovieList" ADD CONSTRAINT "MovieList_listId_fkey" FOREIGN KEY ("listId") REFERENCES "public"."List"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MovieList" ADD CONSTRAINT "MovieList_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."YearTopMovieStats" ADD CONSTRAINT "YearTopMovieStats_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."YearTopParticipant" ADD CONSTRAINT "YearTopParticipant_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."YearTopPick" ADD CONSTRAINT "YearTopPick_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."YearTopPick" ADD CONSTRAINT "YearTopPick_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES "public"."YearTopParticipant"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."account" ADD CONSTRAINT "account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."event" ADD CONSTRAINT "event_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "public"."user"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."session" ADD CONSTRAINT "session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

